.login-card {
    width: 90%;
    max-width: 420px;
    padding: 40px;
}

.login-title {
    text-align: center;
    font-weight: 600;
    color: #3F354D;
}

.login-subtitle {
    text-align: center;
    color: #625A6B;
    margin-top: 8px;
    margin-bottom: 28px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-error {
    text-align: center;
}

.register-text {
    text-align: center;
    color: #625A6B;
    margin-top: 24px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {

    .login-card {
        width: 90%;
        padding: 24px;
    }

    .login-title {
        font-size: 1.8rem;
    }
}