.header {
    background-color: #6f5f8f !important;
}

.header-toolbar {
    position: relative;
}

.header-user {
    margin-right: auto !important;
}

.header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold !important;
}

.header-logout {
    margin-left: auto !important;
}

@media (max-width: 600px) {

    .header-user {
        max-width: 30%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-logo {
        font-size: 1.1rem;
    }
}