.stats-container {
    display: flex;
    justify-content: space-around;
}

.stats-container .MuiCard-root {
    width: 200px;
}

.stat-card {
    margin-top: 20px;
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
